Importing Libraries

In [73]:
import pandas as pd
import numpy as np

Save the dataset to a variable and verify download by printing df

In [74]:
df = pd.read_csv('https://raw.githubusercontent.com/datasets/hepatitis/master/data/hepatitis.csv')
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

Get all columns that have numeric data

In [75]:
num_df = df.select_dtypes(include=np.number)
num_df

     age  bilirubin  alk_phosphate   sgot  albumin  protime
0     30        1.0           85.0   18.0      4.0      NaN
1     50        0.9          135.0   42.0      3.5      NaN
2     78        0.7           96.0   32.0      4.0      NaN
3     31        0.7           46.0   52.0      4.0     80.0
4     34        1.0            NaN  200.0      4.0      NaN
..   ...        ...            ...    ...      ...      ...
150   46        7.6            NaN  242.0      3.3     50.0
151   44        0.9          126.0  142.0      4.3      NaN
152   61        0.8           75.0   20.0      4.1      NaN
153   53        1.5           81.0   19.0      4.1     48.0
154   43        1.2          100.0   19.0      3.1     42.0

[155 rows x 6 columns]

For loop to select all column names in the numeric dataframe, then get all of those values from the full dataframe. <br> Basically just gets the number of NaN
in numeric cols from the original df. We will use this to test if it worked later.

In [76]:
df[[col for col in num_df.columns]].isna().sum()

age               0
bilirubin         6
alk_phosphate    29
sgot              4
albumin          16
protime          67
dtype: int64

get the mean for each column of the numeric df. We will use this to compare the means later.

In [77]:
df[[col for col in num_df.columns]].mean()

age               41.200000
bilirubin          1.427517
alk_phosphate    105.325397
sgot              85.894040
albumin            3.817266
protime           61.852273
dtype: float64

Go through each column in the numerical df and replace each NaN with its corresponding mean value. <br> <br> **This is where I replace all NaN with the mean for that column.**

In [78]:
for col in num_df.columns: # Loops through each column in the numerical df
  df[col] = df[col].fillna(df[col].mean()) # Fills the NaN of each column with the mean of that column

Now we can test if the values were overwritten in the original df. If they are all 0, then it worked.

In [79]:
df[[col for col in num_df.columns]].isna().sum()

age              0
bilirubin        0
alk_phosphate    0
sgot             0
albumin          0
protime          0
dtype: int64

Since all of the values in the table are 0, that means there are no NaN values left. All we need to do now is to check if the mean of the column changed. If the mean is still the same then that shows only the mean values were added to the original df.

In [80]:
df[[col for col in num_df.columns]].mean()

age               41.200000
bilirubin          1.427517
alk_phosphate    105.325397
sgot              85.894040
albumin            3.817266
protime           61.852273
dtype: float64

Since the means are the same, and it shows there are no more NaN values in the original df, it means we have successfully replaced all of the NaN values in the numerical columns with the mean for that column.