In [110]:
import pandas as pd
import numpy as np

# A)
I elected to drop the New_Price column because 86% of the data for that column was NaN, so replacing it with the mean, median, or mode would have introduced too much noise into the dataset.

In [111]:
df = pd.read_csv('train.csv')
df = df.drop(['Unnamed: 0'], axis=1) # Drops Unnamed: 0

# Function to easily replace a substring in a df col
def remove_substring(col, string):
  df[col] = df[col].apply(lambda x: str(x).replace(string, ''))

# Function to replace the NaN values to the mean of the col
def replace_with_mean(col):
  df[col] = pd.to_numeric(df[col])
  df[col].fillna(df[col].mean(), inplace=True)

# Checks for all NaN values
print(df.isnull().sum())

# This shows the percent of NaN values in the New_Price col
print('Nan value percentage:', 100 - (df.New_Price.count() / len(df.New_Price) * 100))

# Drops the New_price because 86% of it is NaN, and replacing it with the mean, median, or mode would introduce too much noise
df = df.drop(['New_Price'], axis=1)

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
Nan value percentage: 86.06122798016077

#B) Remove units from data
I decided to replace the other columns' data with the mean because there was a small percentage of data that had NaN values, so it makes sense in this case.

In [112]:
# This only keeps the numeric vlaues from these columns
remove_substring('Engine', ' CC')
remove_substring('Power', ' bhp')
remove_substring('Engine', ' CC')
remove_substring('Mileage', ' kmpl')
remove_substring('Mileage', ' km/kg')

# Replace all 'nan' strings with NaN
df.replace('nan', np.nan, inplace=True)

# Replace all these NaN values with the mean of the col
replace_with_mean('Seats')
replace_with_mean('Power')
replace_with_mean('Engine')
replace_with_mean('Mileage')

# Verifying that all of the NaN values are gone
print(df.isnull().sum())

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

<ipython-input-111-349d99772d2d>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

# C) One hot encoding

In [113]:
# Gets the one hot encoding for the transmission and fuel_type
# Only saves n-1 number of columns because if not manual, then its automatic, etc.
df = pd.get_dummies(df, columns=['Transmission', 'Fuel_Type'], drop_first=True)
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,True,False,True
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,True,False,False
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,True,False,False
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,True,False,False
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,True,False,True
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,True,False,False

# D) Create one custom feature

In [114]:
# This creates a custom column with a km_per_year feature
df['km_per_year'] = (df['Kilometers_Driven'] / (2025 - df['Year'])).astype(int)
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol,km_per_year
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,4100
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,True,False,True,3285
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,6692
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,3389
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,7249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,True,False,False,2487
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,True,False,False,10000
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,True,False,False,4230
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,True,False,True,3833
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,True,False,False,3357

#E)

## Selecting

In [115]:
# Selecting three colmuns from the df and printing the results
for index, row in df.iterrows():
    print(f"{row.Name} from {row.Location} was driven {row.km_per_year} km per year\n")

Streaming output truncated to the last 5000 lines.
Maruti Swift Dzire VXI from Kolkata was driven 3000 km per year

BMW 5 Series 2003-2012 530d from Coimbatore was driven 2010 km per year

Ford Ecosport 1.5 DV5 MT Ambiente from Kochi was driven 6490 km per year

Honda City i DTec V from Ahmedabad was driven 7444 km per year

Tata Indigo LS from Chennai was driven 5823 km per year

Renault Duster 110PS Diesel RxL from Pune was driven 12909 km per year

Hyundai i10 Sportz from Chennai was driven 1797 km per year

Honda Jazz 1.2 SV i VTEC from Mumbai was driven 2762 km per year

Maruti SX4 S Cross DDiS 200 Zeta from Hyderabad was driven 9166 km per year

Honda Accord VTi-L MT from Mumbai was driven 4777 km per year

Volkswagen Polo Petrol Comfortline 1.2L from Coimbatore was driven 2997 km per year

Maruti Ritz VDi from Hyderabad was driven 7364 km per year

Honda Amaze S Petrol from Jaipur was driven 6272 km per year

Hyundai i20 1.2 Asta Option from Hyderabad was driven 1500 km per year

Renault Duster 85PS Diesel RxL from Hyderabad was driven 7045 km per year

Hyundai Grand i10 Magna from Kochi was driven 4366 km per year

BMW 3 Series 320d Highline from Chennai was driven 10000 km per year

Ford Ecosport 1.5 DV5 MT Trend from Mumbai was driven 6324 km per year

Volkswagen Vento 1.5 TDI Highline AT from Hyderabad was driven 5054 km per year

Honda Accord 2.4 AT from Chennai was driven 6071 km per year

Chevrolet Aveo 1.4 from Hyderabad was driven 3288 km per year

Volkswagen Polo 1.2 MPI Highline Plus from Hyderabad was driven 2312 km per year

Mahindra Xylo D4 BS III from Hyderabad was driven 12975 km per year

Hyundai i10 Magna AT from Hyderabad was driven 3181 km per year

Mahindra XUV500 W8 4WD from Coimbatore was driven 8472 km per year

Hyundai Elantra CRDi SX from Mumbai was driven 3333 km per year

Volkswagen Passat 1.8 TSI MT from Mumbai was driven 4000 km per year

Hyundai Grand i10 1.2 Kappa Sportz from Coimbatore was driven 3045 km per year

Hyundai i20 Asta Option 1.2 from Mumbai was driven 2500 km per year

Chevrolet Enjoy TCDi LS 8 Seater from Ahmedabad was driven 5916 km per year

Skoda Rapid 1.6 MPI AT Ambition Plus Alloy from Coimbatore was driven 2082 km per year

Hyundai Creta 1.6 CRDi SX from Pune was driven 4693 km per year

Chevrolet Beat Diesel PS from Jaipur was driven 8216 km per year

Toyota Fortuner 3.0 Diesel from Delhi was driven 4435 km per year

Hyundai i20 Sportz Option 1.2 from Coimbatore was driven 4915 km per year

Audi Q7 3.0 TDI quattro from Coimbatore was driven 7057 km per year

Porsche Panamera Diesel from Bangalore was driven 1652 km per year

Honda City i VTEC VX from Hyderabad was driven 4099 km per year

Mahindra Quanto C4 from Hyderabad was driven 6926 km per year

Audi A4 2.0 TDI Multitronic from Ahmedabad was driven 5692 km per year

Hyundai Sonata Transform 2.4 GDi AT from Kolkata was driven 3416 km per year

Hyundai Verna 1.6 SX from Hyderabad was driven 6436 km per year

Maruti Wagon R LXI BS IV from Pune was driven 6066 km per year

Maruti Ertiga SHVS ZDI Plus from Jaipur was driven 5555 km per year

Hyundai Xcent 1.1 CRDi S Option from Delhi was driven 5800 km per year

Maruti Swift VDI from Jaipur was driven 6153 km per year

Mahindra XUV500 W6 2WD from Kochi was driven 5161 km per year

BMW 5 Series 520d Luxury Line from Delhi was driven 5416 km per year

Toyota Corolla Altis 1.8 G from Bangalore was driven 1830 km per year

Hyundai i20 Asta 1.4 CRDi from Pune was driven 5433 km per year

Mahindra KUV 100 mFALCON G80 K2 from Hyderabad was driven 2669 km per year

Maruti Alto 800 2016-2019 LXI from Kolkata was driven 2002 km per year

Fiat Punto EVO 1.2 Emotion from Hyderabad was driven 3951 km per year

Maruti Wagon R VXI BS IV from Kolkata was driven 3076 km per year

Mitsubishi Pajero 4X4 LHD from Bangalore was driven 11966 km per year

Honda Brio EX MT from Chennai was driven 3526 km per year

Hyundai i20 Asta Option 1.4 CRDi from Coimbatore was driven 3019 km per year

Hyundai Creta 1.6 SX Plus Petrol Automatic from Mumbai was driven 3000 km per year

Honda Amaze S i-VTEC from Kochi was driven 7724 km per year

Mahindra KUV 100 mFALCON G80 K6 Plus from Chennai was driven 1500 km per year

Honda City i-VTEC CVT VX from Pune was driven 642 km per year

Mahindra XUV500 AT W10 FWD from Mumbai was driven 2875 km per year

Mercedes-Benz New C-Class 220 CDI AT from Mumbai was driven 6714 km per year

Renault Duster 110PS Diesel RxZ AMT from Coimbatore was driven 5330 km per year

Volkswagen Polo 1.2 MPI Comfortline from Bangalore was driven 2727 km per year

BMW 5 Series 520d Sedan from Delhi was driven 6923 km per year

Mercedes-Benz S Class 2005 2013 S 350 CDI from Bangalore was driven 6125 km per year

Hyundai Santro GLS II - Euro II from Kochi was driven 5107 km per year

Jaguar XJ 3.0L Premium Luxury from Hyderabad was driven 3846 km per year

Maruti Swift VDI from Jaipur was driven 6331 km per year

Honda Amaze S i-Dtech from Delhi was driven 6000 km per year

BMW 3 Series 320d Highline from Ahmedabad was driven 5285 km per year

Hyundai Verna 1.4 EX from Hyderabad was driven 7153 km per year

Toyota Fortuner 4x2 4 Speed AT from Delhi was driven 7000 km per year

Maruti Swift VXI from Ahmedabad was driven 3751 km per year

Chevrolet Beat LS from Chennai was driven 4400 km per year

Hyundai Grand i10 Asta Option AT from Coimbatore was driven 3427 km per year

Ford Figo Petrol ZXI from Coimbatore was driven 3685 km per year

Maruti Swift VXI BSIII from Pune was driven 5000 km per year

Audi A4 35 TDI Premium from Coimbatore was driven 4359 km per year

Honda City V MT from Kochi was driven 1709 km per year

Honda Jazz V from Hyderabad was driven 3700 km per year

Volkswagen Polo 1.5 TDI Highline from Chennai was driven 6447 km per year

Nissan Terrano XL D Option from Hyderabad was driven 5440 km per year

Land Rover Discovery Sport SD4 HSE Luxury 7S from Hyderabad was driven 6888 km per year

Hyundai i20 Magna Optional 1.2 from Kochi was driven 4047 km per year

Honda City 1.5 E MT from Jaipur was driven 5428 km per year

Mahindra XUV500 W10 AWD from Hyderabad was driven 10262 km per year

Jeep Compass 2.0 Limited Option 4X4 from Jaipur was driven 5625 km per year

Mahindra XUV500 W10 AWD from Jaipur was driven 2750 km per year

Mahindra Scorpio VLX 4WD AIRBAG AT BSIV from Coimbatore was driven 7778 km per year

Datsun GO Plus T from Kolkata was driven 1422 km per year

Mahindra Scorpio S6 Plus 7 Seater from Kolkata was driven 3555 km per year

Honda Amaze S AT i-Vtech from Mumbai was driven 3545 km per year

Honda City i-DTEC ZX from Pune was driven 5250 km per year

Tata Indigo GLE from Chennai was driven 4294 km per year

Hyundai Grand i10 1.2 CRDi Sportz from Chennai was driven 6857 km per year

Hyundai Verna 1.4 CX VTVT from Kolkata was driven 1727 km per year

Toyota Innova Crysta 2.4 VX MT from Coimbatore was driven 5599 km per year

BMW X1 sDrive20d from Jaipur was driven 4846 km per year

Volkswagen Jetta 2013-2015 2.0L TDI Highline AT from Chennai was driven 4800 km per year

Ford Figo Diesel ZXI from Delhi was driven 6000 km per year

Mahindra Ssangyong Rexton RX7 from Ahmedabad was driven 6666 km per year

Volkswagen Vento Petrol Highline from Chennai was driven 2642 km per year

Skoda Rapid 1.6 MPI Ambition With Alloy Wheel from Kochi was driven 3895 km per year

Volkswagen Polo Petrol Comfortline 1.2L from Delhi was driven 4000 km per year

Maruti S Cross DDiS 200 Delta from Hyderabad was driven 6131 km per year

Toyota Corolla Altis G from Kolkata was driven 2812 km per year

Maruti Ertiga ZDI from Bangalore was driven 7400 km per year

Hyundai i10 Asta Sunroof AT from Hyderabad was driven 7416 km per year

Mercedes-Benz CLA 200 CDI Sport from Kochi was driven 2235 km per year

Honda City ZX VTEC from Jaipur was driven 5000 km per year

Mahindra KUV 100 G80 K8 from Jaipur was driven 2271 km per year

Toyota Fortuner 3.0 Diesel from Delhi was driven 10785 km per year

Honda City 1.5 V MT from Bangalore was driven 4642 km per year

Audi A6 35 TDI Matrix from Coimbatore was driven 4603 km per year

Ford Figo Diesel ZXI from Coimbatore was driven 5440 km per year

Mercedes-Benz GLA Class 200 CDI from Kolkata was driven 4727 km per year

Chevrolet Aveo U-VA 1.2 LS from Hyderabad was driven 1833 km per year

Ford Figo 2015-2019 1.5D Titanium MT from Hyderabad was driven 7888 km per year

Hyundai Elantra CRDi SX AT from Delhi was driven 5916 km per year

Maruti Baleno Zeta CVT from Kolkata was driven 2222 km per year

Maruti Swift LXi BSIV from Hyderabad was driven 4733 km per year

Mercedes-Benz CLS-Class 2006-2010 350 CDI from Hyderabad was driven 1933 km per year

BMW 3 Series Luxury Line from Ahmedabad was driven 3000 km per year

Maruti Dzire AMT ZDI Plus from Chennai was driven 2375 km per year

Hyundai Verna 1.6 SX VTVT from Mumbai was driven 4142 km per year

Jeep Compass 2.0 Longitude from Kochi was driven 6029 km per year

Hyundai Sonata Embera 2.0L CRDi AT from Hyderabad was driven 5875 km per year

Tata Nexon 1.5 Revotorq XZ Plus Dual Tone from Kolkata was driven 700 km per year

Hyundai EON Era Plus from Jaipur was driven 5833 km per year

BMW 5 Series 2013-2017 530d M Sport from Kochi was driven 6526 km per year

Maruti Ertiga VDI from Delhi was driven 4960 km per year

Honda Amaze E i-Vtech from Kochi was driven 5136 km per year

Ford Fiesta 1.4 Duratec ZXI from Jaipur was driven 6944 km per year

Honda Civic 2006-2010 1.8 V MT from Bangalore was driven 3882 km per year

Maruti Ertiga ZDI from Delhi was driven 2025 km per year

Hyundai Grand i10 CRDi Sportz from Delhi was driven 5267 km per year

Hyundai Xcent 1.2 VTVT E Plus from Pune was driven 4428 km per year

Hyundai i10 Era from Ahmedabad was driven 3529 km per year

Honda Amaze S i-Vtech from Mumbai was driven 4000 km per year

Audi A6 2.7 TDI from Ahmedabad was driven 4875 km per year

Hyundai i10 Magna 1.2 iTech SE from Mumbai was driven 677 km per year

Renault KWID RXT Optional from Pune was driven 714 km per year

Audi A4 New 2.0 TDI Multitronic from Jaipur was driven 4615 km per year

Maruti Alto 800 LXI Airbag from Jaipur was driven 5000 km per year

Honda City i VTEC VX Option from Delhi was driven 5300 km per year

Mercedes-Benz New C-Class C250 Avantgarde from Delhi was driven 4571 km per year

Audi Q5 3.0 TDI Quattro Technology from Coimbatore was driven 5478 km per year

Volkswagen Polo 1.2 MPI Comfortline from Pune was driven 2602 km per year

Hyundai Creta 1.4 E Plus Diesel from Mumbai was driven 4375 km per year

Honda City 1.5 V MT from Kochi was driven 6773 km per year

Honda City 1.5 S MT from Coimbatore was driven 6798 km per year

Maruti S Cross DDiS 320 Alpha from Kolkata was driven 5021 km per year

Maruti SX4 Vxi BSIV from Mumbai was driven 4400 km per year

Maruti Swift Dzire VDI from Kolkata was driven 3507 km per year

Maruti Ertiga ZDI from Chennai was driven 4000 km per year

Hyundai i20 1.2 Spotz from Coimbatore was driven 2947 km per year

Hyundai Grand i10 CRDi Magna from Hyderabad was driven 6640 km per year

Honda City i VTEC SV from Delhi was driven 4932 km per year

Skoda Rapid 1.6 TDI Elegance from Hyderabad was driven 7750 km per year

Mercedes-Benz E-Class E270 CDI from Hyderabad was driven 5100 km per year

Hyundai Santa Fe 4WD AT from Coimbatore was driven 3209 km per year

Maruti Alto LXi from Hyderabad was driven 2899 km per year

ISUZU D-MAX V-Cross 4X4 from Coimbatore was driven 2917 km per year

Hyundai Verna 1.4 CRDi GL from Kolkata was driven 2923 km per year

Ford Figo Diesel ZXI from Coimbatore was driven 9288 km per year

Honda City 1.5 S MT from Pune was driven 2866 km per year

Hyundai Verna 1.6 CRDi S from Delhi was driven 5700 km per year

Hyundai Creta 1.6 SX Plus Petrol Automatic from Coimbatore was driven 4633 km per year

Ford Ecosport 1.5 DV5 MT Titanium from Hyderabad was driven 4000 km per year

BMW X6 xDrive30d from Delhi was driven 4214 km per year

BMW 5 Series 2013-2017 520d Luxury Line from Coimbatore was driven 8496 km per year

Ford Figo Aspire 1.5 TDCi Ambiente from Hyderabad was driven 11111 km per year

Hyundai Verna VTVT 1.6 AT EX from Pune was driven 3090 km per year

Ford Ikon 1.4 TDCi DuraTorq from Jaipur was driven 9000 km per year

Audi A6 2011-2015 2.0 TDI from Kochi was driven 4987 km per year

Hyundai i20 2015-2017 Sportz AT 1.4 from Pune was driven 4323 km per year

Toyota Fortuner 2.8 4WD MT from Kochi was driven 12071 km per year

Renault KWID RXT from Bangalore was driven 2247 km per year

Chevrolet Spark 1.0 LT from Chennai was driven 3647 km per year

Hyundai Verna Transform VTVT from Hyderabad was driven 3678 km per year

BMW 3 Series 320d Sport Line from Hyderabad was driven 5307 km per year

Maruti Swift Dzire VDI from Hyderabad was driven 6247 km per year

Hyundai Xcent 1.2 CRDi E Plus from Jaipur was driven 7562 km per year

Honda Jazz V CVT from Mumbai was driven 2247 km per year

Tata Indigo LS from Jaipur was driven 17647 km per year

Ford Fiesta Classic 1.4 Duratorq CLXI from Chennai was driven 10250 km per year

Maruti S-Cross Alpha DDiS 200 SH from Kolkata was driven 5032 km per year

Maruti SX4 Zxi with Leather BSIII from Coimbatore was driven 4548 km per year

Maruti Baleno Zeta Automatic from Kochi was driven 3694 km per year

Maruti Ritz LDi from Bangalore was driven 13333 km per year

Hyundai Elantra CRDi SX AT from Ahmedabad was driven 2444 km per year

Chevrolet Spark 1.0 LT from Kolkata was driven 846 km per year

Hyundai i20 1.2 Spotz from Mumbai was driven 487 km per year

Hyundai Xcent 1.1 CRDi Base from Hyderabad was driven 11788 km per year

Honda Jazz 1.2 V CVT i VTEC from Delhi was driven 2700 km per year

Honda Brio S MT from Ahmedabad was driven 916 km per year

Mercedes-Benz E-Class E250 CDI Avantgrade from Coimbatore was driven 4417 km per year

Tata Hexa XT from Pune was driven 4975 km per year

Hyundai Xcent 1.1 CRDi Base from Pune was driven 9125 km per year

Ford Ecosport 1.5 DV5 MT Titanium Optional from Pune was driven 5500 km per year

Tata Nano XTA from Coimbatore was driven 2293 km per year

Honda Brio VX from Pune was driven 3750 km per year

Maruti Ertiga SHVS ZDI Plus from Hyderabad was driven 12466 km per year

Hyundai i10 Sportz 1.2 from Bangalore was driven 1933 km per year

Mahindra XUV500 W10 2WD from Mumbai was driven 5339 km per year

Volkswagen Vento Diesel Highline from Hyderabad was driven 4733 km per year

Tata Safari Storme 2012-2015 VX from Hyderabad was driven 8454 km per year

Honda Accord 2.4 Elegance M/T from Hyderabad was driven 7933 km per year

Maruti Eeco 7 Seater Standard from Coimbatore was driven 4691 km per year

Maruti Swift VDI from Ahmedabad was driven 5000 km per year

Maruti Baleno Zeta Automatic from Pune was driven 3089 km per year

Mahindra XUV500 W8 2WD from Coimbatore was driven 6510 km per year

Hyundai Xcent 1.2 Kappa S from Chennai was driven 4636 km per year

Mercedes-Benz New C-Class C 220 CDI Style from Hyderabad was driven 1250 km per year

Skoda Superb 1.8 TSI MT from Kolkata was driven 3921 km per year

Volkswagen CrossPolo 1.5 TDI from Hyderabad was driven 8076 km per year

Maruti Ignis 1.2 Delta from Kochi was driven 2012 km per year

Maruti Swift VDI BSIV from Chennai was driven 5444 km per year

Honda City i VTEC VX Option from Mumbai was driven 4236 km per year

BMW 5 Series 530d Highline Sedan from Ahmedabad was driven 4533 km per year

Skoda Laura Ambiente from Hyderabad was driven 7199 km per year

Volkswagen Polo GT TSI from Coimbatore was driven 6316 km per year

Renault Duster 85PS Diesel RxL from Ahmedabad was driven 5027 km per year

Honda City 1.5 S AT from Hyderabad was driven 4299 km per year

Volkswagen Vento Diesel Highline from Ahmedabad was driven 3650 km per year

Hyundai Grand i10 Sportz from Pune was driven 1492 km per year

Ford Fiesta 1.4 ZXi Duratec from Pune was driven 4470 km per year

Hyundai Xcent 1.1 CRDi S from Mumbai was driven 7015 km per year

Honda Amaze VX i-DTEC from Hyderabad was driven 6807 km per year

Honda City i VTEC CVT VX from Hyderabad was driven 1555 km per year

Renault Fluence 1.5 from Pune was driven 4307 km per year

BMW 5 Series 520d Luxury Line from Ahmedabad was driven 3066 km per year

Maruti SX4 ZXI MT BSIV from Mumbai was driven 3984 km per year

Honda City ZX CVT from Hyderabad was driven 4500 km per year

Volkswagen Ameo 1.2 MPI Comfortline from Kochi was driven 2481 km per year

Volkswagen Ameo 1.2 MPI Comfortline from Hyderabad was driven 2050 km per year

Audi A4 2.0 TDI Multitronic from Delhi was driven 3933 km per year

Maruti Wagon R VXI from Mumbai was driven 7449 km per year

Hyundai Verna SX CRDi AT from Delhi was driven 4250 km per year

Mercedes-Benz GLC 220d 4MATIC Style from Coimbatore was driven 4885 km per year

BMW 3 Series Luxury Line from Mumbai was driven 3444 km per year

Honda Mobilio V Option i DTEC from Mumbai was driven 7272 km per year

Hyundai Creta 1.6 CRDi AT SX Plus from Hyderabad was driven 3666 km per year

Honda City 1.5 S MT from Hyderabad was driven 5111 km per year

Ford Fiesta 1.4 TDCi EXI from Bangalore was driven 6071 km per year

Maruti Swift Dzire LDI from Chennai was driven 10111 km per year

Mercedes-Benz E-Class E250 CDI Launch Edition from Coimbatore was driven 7318 km per year

Chevrolet Captiva LT from Jaipur was driven 14500 km per year

Toyota Innova 2.5 V Diesel 7-seater from Bangalore was driven 7059 km per year

Mahindra Quanto C8 from Kochi was driven 5346 km per year

Honda City i VTEC V from Kochi was driven 6381 km per year

Audi A4 2.0 TDI 177 Bhp Premium Plus from Kolkata was driven 3636 km per year

Volkswagen Polo Diesel Comfortline 1.2L from Delhi was driven 6453 km per year

Ford EcoSport 1.5 Petrol Titanium Plus AT from Pune was driven 1750 km per year

Toyota Innova 2.5 G (Diesel) 7 Seater BS IV from Kolkata was driven 6547 km per year

Honda City 1.5 EXI from Jaipur was driven 6150 km per year

Maruti Alto 800 2016-2019 LXI Optional from Chennai was driven 6371 km per year

Mercedes-Benz M-Class ML 320 CDI from Pune was driven 3312 km per year

Maruti Swift Dzire LDI from Kolkata was driven 7500 km per year

Maruti Vitara Brezza ZDi Plus Dual Tone from Ahmedabad was driven 4125 km per year

Volvo S60 D5 Summum from Mumbai was driven 2583 km per year

Toyota Fortuner 4x2 AT from Delhi was driven 7181 km per year

Hyundai i20 Sportz Option Diesel from Kochi was driven 5659 km per year

Audi A4 35 TDI Premium from Bangalore was driven 5897 km per year

Nissan Terrano XV D Pre from Mumbai was driven 5000 km per year

Maruti Celerio ZXI AMT from Coimbatore was driven 4403 km per year

Hyundai i10 Sportz AT from Delhi was driven 4790 km per year

BMW 3 Series 320d from Hyderabad was driven 5333 km per year

Hyundai Grand i10 Sportz from Kochi was driven 6242 km per year

Hyundai Grand i10 Asta Option AT from Coimbatore was driven 3506 km per year

Hyundai Grand i10 1.2 Kappa Sportz from Coimbatore was driven 3232 km per year

Volkswagen Polo 1.2 MPI Comfortline from Delhi was driven 5250 km per year

Honda City ZX EXi from Hyderabad was driven 5055 km per year

Mercedes-Benz GLA Class 200 CDI from Hyderabad was driven 2727 km per year

Maruti Omni 8 Seater BSIV from Hyderabad was driven 3071 km per year

Hyundai Verna 1.6 SX VTVT AT from Bangalore was driven 4090 km per year

Maruti Alto 800 LXI from Hyderabad was driven 2461 km per year

Maruti Vitara Brezza ZDi Plus Dual Tone from Coimbatore was driven 3365 km per year

Mahindra XUV500 W8 2WD from Kochi was driven 7311 km per year

Maruti Vitara Brezza ZDi from Delhi was driven 3922 km per year

Hyundai i20 1.2 Spotz from Kochi was driven 6451 km per year

Mercedes-Benz E-Class 250 D W 210 from Mumbai was driven 2048 km per year

Maruti Alto LXi from Hyderabad was driven 4068 km per year

Honda Amaze S i-Vtech from Kolkata was driven 3333 km per year

Land Rover Range Rover Sport HSE from Kochi was driven 3846 km per year


## Filtering

In [116]:
# This will get the name and price (in Lakh) of all cars that were driven over 100,000 km
df[df['Kilometers_Driven'] > 100_000][['Name', 'Price']]

                                       Name  Price
13              Mitsubishi Pajero Sport 4X4  15.00
27      Toyota Innova 2.5 V Diesel 7-seater   4.00
56                    Nissan X-Trail SLX AT   7.75
62                       Tata Indica V2 eLS   2.50
74                     Toyota Innova 2.0 G1   4.50
...                                     ...    ...
5789         Toyota Corolla Altis 1.8 G CVT   4.00
5790         Tata Indica Vista Quadrajet VX   2.80
5808                       Mahindra Xylo D4   5.30
5817  Renault Duster 85PS Diesel RxL Option   4.25
5834       Mercedes-Benz M-Class ML 320 CDI  10.75

[486 rows x 2 columns]

## Rename

In [117]:
# This is renaming the Seats column to num_of_seats and replacing it inplace
df.rename(columns={'Seats': 'num_of_seats'}, inplace=True)
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,num_of_seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol,km_per_year
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,4100
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,True,False,True,3285
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,6692
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,3389
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,7249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,True,False,False,2487
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,True,False,False,10000
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,True,False,False,4230
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,True,False,True,3833
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,True,False,False,3357

## Mutate

In [118]:
# This is making a new column that shows the age of the car (given it is 2025)
df['Age'] = (2025 - df['Year'])
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,num_of_seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol,km_per_year,Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,4100,10
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,True,False,True,3285,14
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,6692,13
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,3389,12
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,7249,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,True,False,False,2487,11
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,True,False,False,10000,10
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,True,False,False,4230,13
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,True,False,True,3833,12
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,True,False,False,3357,14

## Arranging

In [119]:
# Sort the entries by descending price
df = df.sort_values('Price', ascending=False)
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,num_of_seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol,km_per_year,Age
3952,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000,First,13.33,2993.0,255.0,5.0,160.00,False,False,False,3125,8
5620,Lamborghini Gallardo Coupe,Delhi,2011,6500,Third,6.40,5204.0,560.0,2.0,120.00,False,False,True,464,14
5752,Jaguar F Type 5.0 V8 S,Hyderabad,2015,8000,First,12.50,5000.0,488.1,2.0,100.00,False,False,True,800,10
1457,Land Rover Range Rover Sport SE,Kochi,2019,26013,First,12.65,2993.0,255.0,5.0,97.07,False,False,False,4335,6
1917,BMW 7 Series 740Li,Coimbatore,2018,28060,First,12.05,2979.0,320.0,5.0,93.67,False,False,True,4008,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,Maruti 800 Std,Pune,2003,52000,First,16.10,796.0,37.0,4.0,0.50,True,False,True,2363,22
1577,Maruti 800 Std BSIII,Jaipur,2004,12000,Second,16.10,796.0,37.0,4.0,0.45,True,False,True,571,21
2758,Hyundai Getz GLS,Pune,2005,86000,Second,15.30,1341.0,83.0,5.0,0.45,True,False,True,4300,20
3039,Maruti Zen LXI,Jaipur,1998,95150,Third,17.30,993.0,60.0,5.0,0.45,True,False,True,3524,27
1660,Tata Nano Lx,Pune,2011,65000,Second,26.00,624.0,35.0,4.0,0.44,True,False,True,4642,14

## Summarize

In [120]:
# This will give us a list of years and then give us the average price of a car from that year and the total number of km driven for that year of cars
df.groupby('Year').agg({
    'Price': 'mean',
    'Kilometers_Driven': 'sum'
}).reset_index()

    Year      Price  Kilometers_Driven
0   1998   1.626667             245600
1   1999   0.835000             210000
2   2000   1.175000             450000
3   2001   0.920000             699943
4   2002   1.321667             918311
5   2003   2.548750            1336661
6   2004   1.990000            2520033
7   2005   2.262955            4044621
8   2006   3.596377            6906227
9   2007   3.427830            9224478
10  2008   4.051227           13728121
11  2009   5.246269           15470793
12  2010   5.477970           24515845
13  2011   6.813341           31561810
14  2012   7.460699           38503377
15  2013   8.835800           40878674
16  2014   9.742462           44421322
17  2015  11.316962           38969948
18  2016  11.776798           31715418
19  2017  13.831735           26110479
20  2018  15.884558            7071504
21  2019  19.603564            2020892